@use '/src/sass/variables' as *;
@use '/src/sass/mixins.scss' as *;

.header{
    @include flex-position(
        flex,
        row,
        auto,
        start,
        center,
        end
    );
    width: 100vw;
    height: 8vh;
    background-color: $background-blue;
    
    &__btn{
        padding: .5rem 1.3rem;
        border-radius: .5rem .5rem 0rem 0rem;
        color: $background-white;
    }
    
    .show{
        color: $background-blue;
        background-color:$background-white;
    }
}